<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DemoForAndroid.DemoForAndroid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="25" />
	<application android:label="DemoForAndroid" android:icon="@drawable/Icon"></application>
</manifest>